/* CSS reset */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 100%;
}

/* CSS reset end */

body {
  background: linear-gradient(to bottom, #003399 0%, #ff9933 140%) no-repeat center center fixed;
  background-size: cover;
}

.ebusiness-card {
  background-color: hsla(0, 0%, 100%, .5);
  border-radius: 20px;
  box-shadow: hsla(0, 0%, 0%, .9) 15px 15px 80vh;
}

.name-headline {
	letter-spacing: 2px;
	line-height: 4vh;
	margin-top: 2vh;
}

.ebusiness-card {
  width: 400px;
  max-width: calc(100vw - 10px);
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  height: 100vh;
}

.head, .section-links {
  text-align: center;
}

.head {
  width: 85%;
  margin: 0 auto;
}

img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
}

.profile-image {
  margin-top: -60px;
}

img {
  padding: 3px;
  background-color: #666;
  transition: all 0.5s ease-in-out;
  filter: grayscale(30%);
}

img:hover {
  transform: scale(1.2);
  filter: grayscale(20%);
}

.about {
  border-top: 1px solid hsla(0, 0%, 30%, .8);
	border-bottom: 1px solid hsla(0, 0%, 30%, .8);
	width: 75%;
	margin: 2vh auto 2vh auto;
	text-align: left;
	line-height: 4vh;
}

h1 {
  text-transform: uppercase;
  font-family: fantasy;
	font-size: 5vh;
	margin: 2vh auto 2vh auto;
}

h2 {
  font-size: 3vh;
}

h3 {
	font-size: 3vh;
}

a {
	font-size: 4vh;
	letter-spacing: 1vw;
}